footer {
  background-color: rgb(39, 39, 39);
  padding: 20px 0;
  display: flex;
}

.foot {
  height: 100%;
}

footer p {
  color: white;
  padding-bottom: 20px;
}

.coninfo {
  display: flex;
  padding-left: 170px;
}

.about {
  display: block;
  padding-left: 50px;
}

.about ul,
.about h3 {
  color: white;
}

.about li {
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: rgb(39, 39, 39);
    padding: 20px 0;
    display: block;
  }

  .coninfo {
    display: block;
    padding-left: 0;
  }
}
