.gender {
  padding: 30px 0;
}

.images {
  display: flex;
}

.image {
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
}

.image img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 768px) {
  .gender {
    padding: 15px 0;
  }
  .image {
    padding-left: 5px;
    padding-right: 5px;
  }
}
