* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
}

.logocontainer {
  background-image: url(../images/logo.png);
  background-position: center 15%;
  background-size: 65%;
}

.logocontainer > img {
  display: block;
}

.iconstop {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.icontop {
  margin: 20px;
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.logo {
  height: 75%;
  width: 100%;
}

.icontop a:link {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
.icontop a:visited {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
.icontop a:hover {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
.icontop a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
